<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/events/form/name}" method="post" th:object="${event}"><!-- backing object-->
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
    Id : <input type="text" title=id th:field="*{startDate}"> <!--variable 안에 있는 특별한 객체-->
    Name : <input type="text" title=name th:field="*{name}"> <!--variable 안에 있는 특별한 객체-->
    <input type="submit" value="Create" />
</form>
</body>
</html>