<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <div id="wrap">
        <div id="header">
            <header th:replace="fragments/header :: headerFragment"></header>
        </div>
        <div id="content" style="overflow-x: hidden;">
            <div class="con_inner" id="content1">
                <div layout:fragment="content"></div>
            </div>
        </div>
        <div id="footer">
            <footer th:replace="fragments/footer :: footerFragment"></footer>
        </div>
    </div>
</html>